*, *::before, *::after {
    box-sizing: content-box;
    font-family: Gotham Rounded, sans-serif;
  }


  body {
    margin: 0;
    padding: 0;
    background:  #181c21;
  }

  .calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 75px);
    }



    .calculator-grid > button {
        cursor: pointer;
        font-size: 2rem;
        border: 1px, solid #FFFFFF;
        outline: none;
        background-color: rbga(255, 255, 255, 0.75);
      }


    .calculator-grid > button:hover {
        background-color: #a9a9a9;
    }